.list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 10px;

  &__item {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    gap: 20px;
    border: 1px solid #000;
    border-radius: 5px;
  }

  &__link {
    text-decoration: none;
    color: black;
    padding: 5px;
  }

  &__button {
    width: 30px;
    outline: none;
    border: none;
    background-color: transparent;
    border-left: 1px solid #000;
    cursor: pointer;
  }
}